.nav-bar {
  position: relative;
  display: flex;
  background-color: var(--color-grey);
  padding: 1.5rem;
  gap: 1rem;
}
.nav-item {
  display: inline-block;
  text-decoration: none;
  color: var(--color-black);
}
