.table-container {
  padding: 12px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid var(--color-grey);
  padding: 10px 25px;
  text-align: left;
}

.table th {
  padding: 18px 25px;
  background-color: var(--color-blue);
}

.table tr:hover {
  cursor: pointer;
  background-color: var(--color-grey);
}

@media screen and (max-width: 600px) {
  .table-container {
    overflow-x: auto;
  }
}