:root {
  --color-black: #322625;
  --color-grey: #ebebeb;
  --color-blue: #c0e3e5;
  --color-yellow: #fdc936;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: neutra;
  src: url(../public/fonts/neutra-text-tf.otf);
}

.neutra {
  font-family: neutra;
}

.black {
  color: var(--color-black);
}

.grey {
  color: var(--color-grey);
}

.blue {
  color: var(--color-blue);
}

.yellow {
  color: var(--color-yellow);
}